<div class="container-small-profile">
  <% @dogsittings.each do |dogsitting| %>
  <div class="card-small-profile">
    <div class="gradient">
    </div>
    <div class="small-profile-img">
      <img src="https://ca.slack-edge.com/T02NE0241-U038STG9291-d68736458302-512" alt="user">
    </div>
    <div class="content-small-profile">
      <div class="top">
        <h1><%=dogsitting.user.first_name%> <%=dogsitting.user.last_name%></h1>
        <h2><%=dogsitting.location %></h2>
        <h2>¥<%=dogsitting.rate %>/hour</h2>
        <h2>Available on the <%=dogsitting.availability%></h2>
      </div>
      <div class="bottom">
        <%= link_to "Show more information", dogsitting_path(dogsitting), class: "nav-link", class: "button-main" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
