
  <h1><%= link_to "Back To List", dogsittings_path, class:"button-secondary" %></h1>
  <div class="container-profile">
    <div class="card-profile">
      <div class="gradient">
        <div class="price">
          <h1><%= @dogsitting.user.first_name%> <%=  @dogsitting.user.last_name %></h1>
          <h1><%= @dogsitting.location %></h1>
          <h2>¥<%= @dogsitting.rate %>/hour</h2>
        </div>
      </div>
      <div class="profile-img">
        <img src="https://ca.slack-edge.com/T02NE0241-U038STG9291-d68736458302-512" alt="user">
      </div>
      <div class="content-profile">
        <div class="top">
          <p>Hi. I am Michelle I am broke, but I love dogs. The problem is my aparment is small and I don’t have any money. I am willing to take any jobs because I have quit my job and I never want to come back to the company</p>
        </div>
        <div class="bottom">
          <h4>Availability:</h4>
          <h5><%= @dogsitting.availability %></h5>
          <%= link_to "Book Now!", new_dogsitting_booking_path(@dogsitting), class: "nav-link", class: "button-main"%>
        </div>
      </div>
    </div>
</div>
